.players-card{
    box-sizing: border-box;
    border: 1px solid gray;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.players-card img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
